# Part One: Merge and Tidy Up
In this part, we first contatenated the three flight datasets and cleaned them by handling missing values, removing duplicates, invalid and unrelated columns. <p>
The CO2 emissions dataset was filtered and then processed for consistancy to ensure that certain columns and values are in the same format with the three flight datasets, including editing country names and creating a new datatime column. <p>
At the end of Part 1, we have 4 datasets: <p>
**Flights** <br>
    
1. Number of flights by country (state)
2. Number of flights by airport
3. Number of flights by aircraft operator (airline)
    
**CO2 Emissions** <br>
    
4. Quantity of CO2 Emissions by country

In [1]:
import pandas as pd

In [2]:
# Import airport data and concatenate
airport2020 = pd.read_excel('Raw/2020-Airports.xlsx', 'Data')
airport2021 = pd.read_excel('Raw/2021-Airports.xlsx', 'Data')
airport2022 = pd.read_excel('Raw/2022-Airports.xlsx', 'Data')
airport2023 = pd.read_excel('Raw/2023-Airports.xlsx', 'Data')

airport = pd.concat([airport2020, airport2021, airport2022, airport2023], join='outer', axis=0)

# Check for duplicates
print(airport.duplicated().sum())

# Remove duplicates
airport.drop_duplicates(keep='first', inplace=True)

# Remove invalid column
airport.drop(['Flights 2019 (Reference)', 'Day Previous Year'], axis=1, inplace=True)

# Check for missing values
print(airport.isna().sum())

# Fill the missing values of the Istabul Sabiha Gokcen International Airport
airport.fillna("TÃ¼rkiye", inplace=True)

# Overview of the dataset
display(airport)

1380
Entity                                0
State                               731
Week                                  0
Day                                   0
Flights                               0
Flights (7-day moving average)        0
Day 2019                              0
Flights Previous Year                 0
% vs 2019 (Daily)                     0
% vs 2019 (7-day Moving Average)      0
dtype: int64

,Entity,State,Week,Day,Flights,Flights (7-day moving average),Day 2019,Flights Previous Year,% vs 2019 (Daily),% vs 2019 (7-day Moving Average)
0,Amsterdam,Netherlands,1,2020-01-01,1197,1232.285714,2019-01-02,1289,-0.071373,-0.010553
1,Amsterdam,Netherlands,1,2020-01-02,1317,1246.000000,2019-01-03,1332,-0.011261,-0.012119
2,Amsterdam,Netherlands,1,2020-01-03,1341,1250.428571,2019-01-04,1336,0.003743,-0.011519
3,Amsterdam,Netherlands,1,2020-01-04,1142,1247.285714,2019-01-05,1173,-0.026428,-0.015005
4,Amsterdam,Netherlands,1,2020-01-05,1325,1252.714286,2019-01-06,1323,0.001512,-0.014719
...,...,...,...,...,...,...,...,...,...,...
7100,Zurich,Switzerland,16,2023-04-17,712,679.400000,2019-04-15,602,-0.077720,-0.109363
7101,Zurich,Switzerland,16,2023-04-18,652,683.100000,2019-04-16,538,-0.127175,-0.102983
7102,Zurich,Switzerland,16,2023-04-19,673,687.300000,2019-04-17,526,-0.125974,-0.099570
7103,Zurich,Switzerland,16,2023-04-20,678,688.100000,2019-04-18,581,-0.178182,-0.106474
7104,Zurich,Switzerland,16,2023-04-21,716,684.100000,2019-04-19,636,-0.087898,-0.108692

In [3]:
# Import aircraft operator data and concatenate
ao2020 = pd.read_excel('Raw/2020-Aircraft_operators.xlsx', 'Data')
ao2021 = pd.read_excel('Raw/2021-Aircraft_operators.xlsx', 'Data')
ao2022 = pd.read_excel('Raw/2022-Aircraft_operators.xlsx', 'Data')
ao2023 = pd.read_excel('Raw/2023-Aircraft_operators.xlsx', 'Data')

ao = pd.concat([ao2020, ao2021, ao2022, ao2023], join='outer', axis=0)

# Check for duplicates
print(ao.duplicated().sum())

# Remove duplicates
ao.drop_duplicates(keep='first', inplace=True)

# Remove unnecessary columns
ao.drop(['Flights 2019 (Reference)', 'Day Previous Year'], axis=1, inplace=True)

# Check for missing values
print(ao.isna().sum())

# Fill the missing values
ao.fillna(0, inplace=True)

# Overview of the dataset
display(ao)

3402
Entity                                0
Week                                  0
Day                                   0
Flights                               0
Flights (7-day moving average)        0
Day 2019                              0
Flights Previous Year                 0
% vs 2019 (Daily)                   107
% vs 2019 (7-day Moving Average)      0
dtype: int64

,Entity,Week,Day,Flights,Flights (7-day moving average),Day 2019,Flights Previous Year,% vs 2019 (Daily),% vs 2019 (7-day Moving Average)
0,AEGEAN Group,1,2020-01-01,227,255.428571,2019-01-02,254,-0.106299,-0.014876
1,AEGEAN Group,1,2020-01-02,288,256.000000,2019-01-03,250,0.152000,0.006176
2,AEGEAN Group,1,2020-01-03,274,255.285714,2019-01-04,251,0.091633,0.019395
3,AEGEAN Group,1,2020-01-04,237,255.714286,2019-01-05,220,0.077273,0.029327
4,AEGEAN Group,1,2020-01-05,271,253.857143,2019-01-06,260,0.042308,0.036152
...,...,...,...,...,...,...,...,...,...
7543,Wizz Air Group,16,2023-04-18,815,817.700000,2019-04-16,739,0.388416,0.389995
7544,Wizz Air Group,16,2023-04-19,797,813.600000,2019-04-17,705,0.355442,0.380606
7545,Wizz Air Group,16,2023-04-20,806,812.300000,2019-04-18,719,0.273302,0.328815
7546,Wizz Air Group,16,2023-04-21,789,807.700000,2019-04-19,748,0.225155,0.319795
7547,Wizz Air Group,16,2023-04-22,798,806.000000,2019-04-20,733,0.289176,0.312093

In [4]:
# Import state data and concatenate
state2020 = pd.read_excel('Raw/2020-States.xlsx', 'Data')
state2021 = pd.read_excel('Raw/2021-States.xlsx', 'Data')
state2022 = pd.read_excel('Raw/2022-States.xlsx', 'Data')
state2023 = pd.read_excel('Raw/2023-States.xlsx', 'Data')

state = pd.concat([state2020, state2021, state2022, state2023], join='outer', axis=0)

# Check for duplicates
print(state.duplicated().sum())

# Remove duplicates
state.drop_duplicates(keep='first', inplace=True)

# Remove rows that contain non-state data in the dataset
state = state[state['Entity'] != "-Total Network Manager Area"]

# Remove invalid column
state.drop(['Flights 2019 (Reference)', 'Day Previous Year'], axis=1, inplace=True)

# Check for missing values
print(state.isna().sum())

# Overview of the dataset
display(state)

7629
Entity                              0
Week                                0
Day                                 0
Flights                             0
Flights (7-day moving average)      0
Day 2019                            0
Flights Previous Year               0
% vs 2019 (Daily)                   0
% vs 2019 (7-day Moving Average)    0
dtype: int64

,Entity,Week,Day,Flights,Flights (7-day moving average),Day 2019,Flights Previous Year,% vs 2019 (Daily),% vs 2019 (7-day Moving Average)
0,Albania,1,2020-01-01,68,77.714286,2019-01-02,69,-0.014493,-0.001835
1,Albania,1,2020-01-02,83,77.571429,2019-01-03,77,0.077922,0.009294
2,Albania,1,2020-01-03,80,77.571429,2019-01-04,77,0.038961,0.014953
3,Albania,1,2020-01-04,71,77.142857,2019-01-05,70,0.014286,0.016949
4,Albania,1,2020-01-05,91,77.428571,2019-01-06,79,0.151899,0.040307
...,...,...,...,...,...,...,...,...,...
8359,United Kingdom,16,2023-04-18,5271,5260.900000,2019-04-16,4920,-0.111130,-0.119227
8360,United Kingdom,16,2023-04-19,5311,5290.300000,2019-04-17,4845,-0.113208,-0.112708
8361,United Kingdom,16,2023-04-20,5483,5299.300000,2019-04-18,4894,-0.125239,-0.112687
8362,United Kingdom,16,2023-04-21,5556,5304.400000,2019-04-19,5119,-0.051715,-0.100792
8363,United Kingdom,16,2023-04-22,4713,5284.000000,2019-04-20,4266,-0.089099,-0.100049

In [5]:
# Import CO2 emissions data

co2 = pd.read_excel('Raw/CO2_emissions_by_state.xlsx', 'DATA')

# Filter the dataset
co2 = co2[co2['YEAR'] > 2019]

# Check for duplicates
print(co2.duplicated().sum())

# Check for missing values
print(co2.isna().sum())

# Lowercase the country names for consistency with other datasets and save in a new column
co2['STATE_NAME'] = co2['STATE_NAME'].astype('str')
co2['State'] = co2['STATE_NAME'].str.title()

# To alter the country name of Bosnia and Herzegovina to match with other datasets
co2['State'] = co2['State'].str.replace('Bosnia And Herzegovina', 'Bosnia-Herzegovina')

# Remove the asterisk in some country names
co2['State'] = co2['State'].str.replace(r'\*', '', regex=True)

# Overview of the dataset
display(co2)

0
YEAR              0
MONTH             0
STATE_NAME        0
STATE_CODE        0
CO2_QTY_TONNES    0
TF                0
dtype: int64

,YEAR,MONTH,STATE_NAME,STATE_CODE,CO2_QTY_TONNES,TF,State
5029,2020,1,ALBANIA,LA,1.183443e+04,1034,Albania
5030,2020,1,ARMENIA,UD,2.069324e+04,1100,Armenia
5031,2020,1,AUSTRIA,LO,2.339689e+05,14661,Austria
5032,2020,1,BELGIUM,EB,3.683206e+05,12580,Belgium
5033,2020,1,BOSNIA AND HERZEGOVINA,LQ,6.149965e+03,581,Bosnia-Herzegovina
...,...,...,...,...,...,...,...
6703,2023,3,SPAIN,LE,1.204033e+06,61149,Spain
6704,2023,3,SWEDEN,ES,1.839947e+05,17603,Sweden
6705,2023,3,SWITZERLAND,LS,4.058020e+05,19096,Switzerland
6706,2023,3,TÃœRKIYE,LT,1.258313e+06,47981,TÃ¼rkiye
6707,2023,3,UNITED KINGDOM*,EG,2.491118e+06,83848,United Kingdom

Since the time data in the CO2 dataset is presented separately in the columns of `YEAR` and `MONTH`, we converted them into datetime format and stored the results in a new column with the original months removed.

In [6]:
# Convert the columns to string
co2['YEAR'] = co2['YEAR'].astype(str)
co2['MONTH'] = co2['MONTH'].astype(str)

# Add leading zeros to the month values for consistency
co2['MONTH'] = co2['MONTH'].str.zfill(2)

# Combine the columns and convert to datetime format
co2['Day'] = pd.to_datetime(co2['YEAR'] + '-' + co2['MONTH'])

# Drop the original columns
co2.drop(['YEAR', 'MONTH'], axis=1, inplace=True)

#Overview of the dataset
display(co2)

,STATE_NAME,STATE_CODE,CO2_QTY_TONNES,TF,State,Day
5029,ALBANIA,LA,1.183443e+04,1034,Albania,2020-01-01
5030,ARMENIA,UD,2.069324e+04,1100,Armenia,2020-01-01
5031,AUSTRIA,LO,2.339689e+05,14661,Austria,2020-01-01
5032,BELGIUM,EB,3.683206e+05,12580,Belgium,2020-01-01
5033,BOSNIA AND HERZEGOVINA,LQ,6.149965e+03,581,Bosnia-Herzegovina,2020-01-01
...,...,...,...,...,...,...
6703,SPAIN,LE,1.204033e+06,61149,Spain,2023-03-01
6704,SWEDEN,ES,1.839947e+05,17603,Sweden,2023-03-01
6705,SWITZERLAND,LS,4.058020e+05,19096,Switzerland,2023-03-01
6706,TÃœRKIYE,LT,1.258313e+06,47981,TÃ¼rkiye,2023-03-01
6707,UNITED KINGDOM*,EG,2.491118e+06,83848,United Kingdom,2023-03-01

----------------------
# Part Two: Descriptive Analysis
In order to conduct practical and constructive analysis, the data was transformed from daily to monthly, reducing the volume of data and ensuring the results would be readable enough to provide descriptive information. <p>
Firstly, we grouped the variables (country/airport/airline) and summed up corresponding values on a monthly basis. We have got four datasets that contains the monthly number of flights for the variables. <p>
    For the three flight datasets, we summed up the number of flights.

In [7]:
# Data by airport

# Convert 'Day' column to datetime type
airport['Day'] = pd.to_datetime(airport['Day'])

# Group by country and month, and sum the 'Flights' column
grouped_airport = airport.groupby([airport['Entity'], airport['Day'].dt.to_period('M')])['Flights'].sum().reset_index()

# Rename the columns
grouped_airport = grouped_airport.rename(columns={'Entity': 'Airport', 'Day': 'Month', 'Flights': 'Total Flights'})

# Print the resulting grouped dataframe
display(grouped_airport)

           Airport    Month  Total Flights
0        Amsterdam  2020-01          38384
1        Amsterdam  2020-02          35886
2        Amsterdam  2020-03          25816
3        Amsterdam  2020-04           4553
4        Amsterdam  2020-05           6304
...            ...      ...            ...
1383  iGA Istanbul  2022-12          37148
1384  iGA Istanbul  2023-01          38609
1385  iGA Istanbul  2023-02          35545
1386  iGA Istanbul  2023-03          39146
1387  iGA Istanbul  2023-04          27369

[1388 rows x 3 columns]

In [8]:
#Data by aircraft operator

# Convert 'Day' column to datetime type
ao['Day'] = pd.to_datetime(ao['Day'])

# Group by country and month, and sum the 'Flights' column
grouped_ao = ao.groupby([ao['Entity'], ao['Day'].dt.to_period('M')])['Flights'].sum().reset_index()

# Rename the columns
grouped_ao = grouped_ao.rename(columns={'Entity': 'Airline', 'Day': 'Month', 'Flights': 'Total Flights'})

# Print the resulting grouped dataframe
display(grouped_ao)

            Airline    Month  Total Flights
0      AEGEAN Group  2020-01           7398
1      AEGEAN Group  2020-02           6623
2      AEGEAN Group  2020-03           4949
3      AEGEAN Group  2020-04           1142
4      AEGEAN Group  2020-05           1372
...             ...      ...            ...
1463  easyJet Group  2022-12          35236
1464  easyJet Group  2023-01          27974
1465  easyJet Group  2023-02          33157
1466  easyJet Group  2023-03          39132
1467  easyJet Group  2023-04          33665

[1468 rows x 3 columns]

In [9]:
# Data by country

# Convert 'Day' column to datetime type
state['Day'] = pd.to_datetime(state['Day'])

# Group by country and month, and sum the 'Flights' column
grouped_state = state.groupby([state['Entity'], state['Day'].dt.to_period('M')])['Flights'].sum().reset_index()

# Rename the columns
grouped_state = grouped_state.rename(columns={'Entity': 'Country', 'Day': 'Month', 'Flights': 'Total Flights'})

# Print the resulting grouped dataframe
display(grouped_state)

             Country    Month  Total Flights
0            Albania  2020-01           2071
1            Albania  2020-02           1753
2            Albania  2020-03            917
3            Albania  2020-04            150
4            Albania  2020-05            222
...              ...      ...            ...
1635  United Kingdom  2022-12         135859
1636  United Kingdom  2023-01         128415
1637  United Kingdom  2023-02         124080
1638  United Kingdom  2023-03         143720
1639  United Kingdom  2023-04         114239

[1640 rows x 3 columns]

For the CO2 emissions data, we grouped rows by country and then calculated the cummulative sum of CO2 emissions for visualizations later.

In [10]:
# CO2 Emissions data by country

# Convert 'Day' column to datetime type
co2['Day'] = pd.to_datetime(co2['Day'])

# Group by country and month and sum the CO2 emissions
grouped_co2 = co2.groupby([co2['State'], co2['Day'].dt.to_period('M')])[['CO2_QTY_TONNES', 'TF']].sum().reset_index()

# Rename the columns
grouped_co2 = grouped_co2.rename(columns={'State': 'Country', 'Day': 'Month', 'CO2_QTY_TONNES': 'CO2 Emissions', 'TF': 'Traffic'})

#  Calculate the cumulative sum
grouped_co2['Cumulative CO2'] = grouped_co2.groupby(['Country'])['CO2 Emissions'].cumsum()

# Print the resulting grouped dataframe
display(grouped_co2)

             Country    Month  CO2 Emissions  Traffic  Cumulative CO2
0            Albania  2020-01   1.183443e+04     1034    1.183443e+04
1            Albania  2020-02   1.002223e+04      876    2.185665e+04
2            Albania  2020-03   5.048149e+03      461    2.690480e+04
3            Albania  2020-04   5.074260e+02       76    2.741223e+04
4            Albania  2020-05   1.106599e+03      111    2.851883e+04
...              ...      ...            ...      ...             ...
1674  United Kingdom  2022-11   2.230368e+06    75211    5.415267e+07
1675  United Kingdom  2022-12   2.350692e+06    76688    5.650336e+07
1676  United Kingdom  2023-01   2.307159e+06    74769    5.881052e+07
1677  United Kingdom  2023-02   2.156078e+06    72494    6.096659e+07
1678  United Kingdom  2023-03   2.491118e+06    83848    6.345771e+07

[1679 rows x 5 columns]

In order to visualize the data using Flourish, we converted the dataframes into wide formart.

In [11]:
# Convert to wide format through pivot table
wide_airport = grouped_airport.pivot_table(index='Airport', columns='Month', values='Total Flights')

display(wide_airport)

Month,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,...,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04
Airport,,,,,,,,,,,,,,,,,,,,,
Amsterdam,38384.0,35886.0,25816.0,4553.0,6304.0,8766.0,16761.0,24069.0,23010.0,20263.0,...,38002.0,39208.0,38946.0,38044.0,31635.0,31870.0,31046.0,29414.0,34632.0,26075.0
Antalya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,23446.0,9849.0,6887.0,6596.0,6057.0,7579.0,9838.0
Athens,13658.0,12440.0,9397.0,2593.0,3207.0,6518.0,12465.0,15238.0,12283.0,9919.0,...,24581.0,24222.0,21601.0,19251.0,14093.0,14404.0,13698.0,12354.0,14626.0,12441.0
Barcelona,23453.0,22989.0,13837.0,1499.0,1745.0,2741.0,10371.0,14043.0,10495.0,8934.0,...,28266.0,27780.0,27147.0,27382.0,21789.0,22354.0,20930.0,20769.0,24179.0,18803.0
Berlin Brandenburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15843.0,12743.0,12086.0,10972.0,11240.0,13057.0,10114.0
Brussels,16509.0,16145.0,10628.0,2103.0,2522.0,3598.0,7764.0,8102.0,6708.0,6376.0,...,17753.0,17533.0,16945.0,16386.0,13645.0,13349.0,12745.0,12259.0,14376.0,10851.0
Copenhagen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,19694.0,16636.0,15652.0,15419.0,15071.0,18089.0,13116.0
Copenhagen/Kastrup,19119.0,18860.0,12058.0,1458.0,1609.0,3151.0,7252.0,8582.0,8370.0,7446.0,...,18738.0,19672.0,19574.0,19694.0,16636.0,15652.0,NaN,NaN,NaN,NaN
Dublin,16581.0,15887.0,12915.0,1992.0,2232.0,2533.0,6437.0,8106.0,6969.0,5533.0,...,20426.0,20511.0,19854.0,19884.0,17134.0,16954.0,16900.0,15644.0,18542.0,14111.0
Dusseldorf,15696.0,14946.0,9534.0,1022.0,1321.0,2750.0,6470.0,7410.0,7074.0,6179.0,...,14164.0,14788.0,14403.0,14047.0,10349.0,9398.0,8744.0,8442.0,10450.0,8434.0
Frankfurt,36386.0,35855.0,22868.0,6534.0,7800.0,9346.0,15388.0,17694.0,16925.0,17113.0,...,35009.0,35997.0,34154.0,35630.0,32545.0,30154.0,29711.0,27175.0,32120.0,24716.0
Geneva,15125.0,14842.0,9814.0,853.0,1415.0,2904.0,6590.0,7981.0,6214.0,5092.0,...,14419.0,13777.0,13498.0,13261.0,11091.0,13692.0,13399.0,13174.0,14676.0,9339.0
Helsinki,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12058.0,10857.0,11511.0,11486.0,10542.0,11809.0,7878.0
Helsinki-Vantaa,15608.0,14782.0,10249.0,1716.0,2010.0,2762.0,4287.0,5340.0,4209.0,4018.0,...,11663.0,11713.0,11907.0,12058.0,10857.0,11511.0,NaN,NaN,NaN,NaN
IGA Istanbul Airport,34920.0,31343.0,19785.0,1348.0,1547.0,7012.0,13186.0,15102.0,14458.0,15652.0,...,41532.0,41176.0,39654.0,37263.0,36699.0,37148.0,NaN,NaN,NaN,NaN
Istanbul Sabiha Gokcen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,17332.0,15666.0,16651.0,17137.0,15074.0,17024.0,11653.0
Istanbul/Ataturk,2217.0,2010.0,2330.0,2318.0,3083.0,2781.0,3077.0,3087.0,3209.0,3382.0,...,1736.0,1959.0,1790.0,1566.0,1360.0,1226.0,NaN,NaN,NaN,NaN
Istanbul/Sabiha Gokcen,18445.0,17154.0,11327.0,22.0,171.0,4533.0,9634.0,13509.0,13852.0,13870.0,...,17722.0,17536.0,17051.0,17332.0,15666.0,16651.0,NaN,NaN,NaN,NaN
Liege,2868.0,2653.0,2979.0,2468.0,3037.0,2886.0,3099.0,3180.0,3189.0,3372.0,...,2786.0,2670.0,2589.0,2398.0,2414.0,2328.0,2045.0,2139.0,2469.0,1582.0
Lisbon,16656.0,15795.0,10648.0,896.0,1211.0,1897.0,6078.0,9166.0,7940.0,7576.0,...,19506.0,19518.0,18763.0,18696.0,16676.0,17039.0,17023.0,15812.0,18071.0,12970.0
London Gatwick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22847.0,14876.0,17437.0,15537.0,16164.0,18893.0,14813.0
London Heathrow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,34798.0,34586.0,34586.0,35175.0,32712.0,36884.0,26046.0
London Stansted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16803.0,13604.0,13848.0,13765.0,12519.0,14457.0,11323.0
London/Gatwick,18683.0,18919.0,13805.0,313.0,252.0,580.0,3132.0,8144.0,7482.0,4577.0,...,23723.0,24600.0,23091.0,22847.0,14876.0,17437.0,NaN,NaN,NaN,NaN
London/Heathrow,38115.0,35439.0,26183.0,5298.0,6924.0,7571.0,12213.0,15462.0,14706.0,18224.0,...,34361.0,34093.0,33437.0,34798.0,34586.0,34586.0,NaN,NaN,NaN,NaN
London/Stansted,14282.0,13857.0,9973.0,1808.0,1863.0,2430.0,6768.0,10650.0,8759.0,6864.0,...,17932.0,17419.0,16930.0,16803.0,13604.0,13848.0,NaN,NaN,NaN,NaN
Madrid Barajas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,31928.0,30443.0,31171.0,30341.0,27886.0,31325.0,22031.0
Madrid/Barajas,33264.0,31474.0,19823.0,2502.0,3000.0,3749.0,10693.0,15173.0,12408.0,11381.0,...,32422.0,31575.0,31354.0,31928.0,30443.0,31171.0,NaN,NaN,NaN,NaN
Malaga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,13749.0,9213.0,9440.0,8633.0,8226.0,10472.0,9888.0
Manchester,13169.0,13201.0,8453.0,706.0,733.0,1060.0,4326.0,6986.0,6806.0,5277.0,...,16541.0,16528.0,15820.0,15265.0,11247.0,11735.0,11223.0,10760.0,12770.0,10102.0
Milan Malpensa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,17307.0,13825.0,14480.0,13613.0,13340.0,15493.0,11640.0
Milan/Malpensa,15594.0,14799.0,5412.0,2214.0,2865.0,4363.0,9570.0,10022.0,8998.0,7733.0,...,18124.0,18134.0,18340.0,17307.0,13825.0,14480.0,NaN,NaN,NaN,NaN
Munich,30665.0,29384.0,17297.0,1808.0,2059.0,4563.0,9940.0,12268.0,12710.0,11340.0,...,25951.0,28042.0,27819.0,27901.0,23519.0,21237.0,20179.0,19542.0,21795.0,17423.0
Nice,8421.0,8137.0,5883.0,413.0,836.0,2950.0,8429.0,10599.0,7584.0,5600.0,...,17112.0,15531.0,13199.0,11662.0,8107.0,8630.0,7527.0,7701.0,9256.0,8211.0
Oslo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,19966.0,17363.0,15700.0,15345.0,14548.0,17920.0,12030.0
Oslo/Gardermoen,19310.0,18863.0,13794.0,4349.0,4608.0,5972.0,9725.0,9990.0,10258.0,9884.0,...,17291.0,20237.0,20427.0,19966.0,17363.0,15700.0,NaN,NaN,NaN,NaN
Palma De Mallorca,7642.0,7924.0,5860.0,704.0,981.0,2263.0,12434.0,15513.0,8920.0,6537.0,...,29134.0,28801.0,25742.0,23525.0,9003.0,8609.0,NaN,NaN,NaN,NaN
Palma de Mallorca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,23525.0,9003.0,8609.0,8298.0,8283.0,11672.0,14081.0
Paris Charles de Gaulle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36910.0,33691.0,35117.0,33615.0,31207.0,35198.0,25944.0
Paris Orly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18697.0,16055.0,16794.0,14883.0,14609.0,14398.0,11687.0
Paris/Charles-De-Gaulle,37775.0,35728.0,23677.0,4287.0,5881.0,9842.0,19086.0,22955.0,18804.0,16888.0,...,39347.0,39968.0,36980.0,36910.0,33691.0,35117.0,NaN,NaN,NaN,NaN
Paris/Orly,16683.0,15695.0,9692.0,83.0,107.0,481.0,5293.0,8391.0,9301.0,8761.0,...,19418.0,19299.0,18579.0,18697.0,16055.0,16794.0,NaN,NaN,NaN,NaN
Rome Fiumicino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20552.0,16781.0,17778.0,16925.0,15846.0,18632.0,14928.0
Rome/Fiumicino,21205.0,19374.0,8623.0,2390.0,2716.0,3544.0,7819.0,10116.0,8667.0,8241.0,...,21524.0,21962.0,21622.0,20552.0,16781.0,17778.0,NaN,NaN,NaN,NaN
Stockholm Arlanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16468.0,14752.0,13852.0,13539.0,13225.0,15966.0,10867.0
Stockholm/Arlanda,16770.0,16528.0,12253.0,2057.0,2132.0,2722.0,4790.0,5745.0,6234.0,6463.0,...,14883.0,16386.0,16740.0,16468.0,14752.0,13852.0,NaN,NaN,NaN,NaN
Tel Aviv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,13543.0,12402.0,12898.0,12306.0,11121.0,13482.0,10703.0
Tel Aviv/Ben Gurion,12327.0,11031.0,5517.0,1344.0,2064.0,2063.0,2556.0,2752.0,3403.0,3776.0,...,14690.0,15074.0,14031.0,13543.0,12402.0,12898.0,NaN,NaN,NaN,NaN
Vienna,20569.0,19608.0,11270.0,1338.0,1689.0,3617.0,9112.0,11805.0,10721.0,8177.0,...,20839.0,21047.0,21088.0,19993.0,16271.0,16426.0,15431.0,13870.0,17250.0,13725.0
Warsaw Chopin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,13591.0,11541.0,11718.0,11492.0,10561.0,12459.0,9069.0
Warsaw/Okecie,15516.0,14348.0,8017.0,902.0,995.0,2277.0,6528.0,8336.0,7572.0,6320.0,...,14469.0,14256.0,14475.0,13591.0,11541.0,11718.0,NaN,NaN,NaN,NaN
Zurich,20102.0,18240.0,10864.0,1601.0,2317.0,4392.0,9142.0,10204.0,8954.0,8045.0,...,20967.0,21020.0,20369.0,20570.0,16890.0,17420.0,16760.0,15469.0,18258.0,14072.0
iGA Istanbul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,37263.0,36699.0,37148.0,38609.0,35545.0,39146.0,27369.0

After reviewing the result, there were some problems brought by the inconsistent airport names. For example, there were `Paris/Charles-De-Gaulle` and `Paris Charles-De-Gaulle`. Some data are in the former's rows while others are in the latter's rows, causing many missing values. So we here managed to resolve the issue by merging this kind of variables.

In [12]:
merge_rows = [
    ['Copenhagen', 'Copenhagen/Kastrup'],
    ['Helsinki', 'Helsinki-Vantaa'],
    ['IGA Istanbul Airport', 'iGA Istanbul'],
    ['Istanbul Sabiha Gokcen', 'Istanbul/Sabiha Gokcen'],
    ['London Gatwick', 'London/Gatwick'],
    ['London Heathrow', 'London/Heathrow'],
    ['London Stansted', 'London/Stansted'],
    ['Madrid Barajas', 'Madrid/Barajas'],
    ['Milan Malpensa', 'Milan/Malpensa'],
    ['Oslo', 'Oslo/Gardermoen'],
    ['Palma de Mallorca', 'Palma De Mallorca'],
    ['Paris Orly', 'Paris/Orly'],
    ['Paris Charles de Gaulle', 'Paris/Charles-De-Gaulle'],
    ['Rome Fiumicino', 'Rome/Fiumicino'],
    ['Stockholm Arlanda', 'Stockholm/Arlanda'],
    ['Tel Aviv', 'Tel Aviv/Ben Gurion'],
    ['Warsaw Chopin', 'Warsaw/Okecie']
]

for row in merge_rows:
    wide_airport.loc[row[0]] = wide_airport.loc[row[0]].combine_first(wide_airport.loc[row[1]])
    wide_airport.drop(row[1], inplace=True)

# Rename airport variables for consistency
wide_airport.rename(index={'Istanbul/Ataturk': 'Istanbul Ataturk'}, inplace=True)

# Display the result
display(wide_airport)

# Export
wide_airport.to_csv('Results/Aiport_by_month.csv')

Month,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,...,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04
Airport,,,,,,,,,,,,,,,,,,,,,
Amsterdam,38384.0,35886.0,25816.0,4553.0,6304.0,8766.0,16761.0,24069.0,23010.0,20263.0,...,38002.0,39208.0,38946.0,38044.0,31635.0,31870.0,31046.0,29414.0,34632.0,26075.0
Antalya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,23446.0,9849.0,6887.0,6596.0,6057.0,7579.0,9838.0
Athens,13658.0,12440.0,9397.0,2593.0,3207.0,6518.0,12465.0,15238.0,12283.0,9919.0,...,24581.0,24222.0,21601.0,19251.0,14093.0,14404.0,13698.0,12354.0,14626.0,12441.0
Barcelona,23453.0,22989.0,13837.0,1499.0,1745.0,2741.0,10371.0,14043.0,10495.0,8934.0,...,28266.0,27780.0,27147.0,27382.0,21789.0,22354.0,20930.0,20769.0,24179.0,18803.0
Berlin Brandenburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15843.0,12743.0,12086.0,10972.0,11240.0,13057.0,10114.0
Brussels,16509.0,16145.0,10628.0,2103.0,2522.0,3598.0,7764.0,8102.0,6708.0,6376.0,...,17753.0,17533.0,16945.0,16386.0,13645.0,13349.0,12745.0,12259.0,14376.0,10851.0
Copenhagen,19119.0,18860.0,12058.0,1458.0,1609.0,3151.0,7252.0,8582.0,8370.0,7446.0,...,18738.0,19672.0,19574.0,19694.0,16636.0,15652.0,15419.0,15071.0,18089.0,13116.0
Dublin,16581.0,15887.0,12915.0,1992.0,2232.0,2533.0,6437.0,8106.0,6969.0,5533.0,...,20426.0,20511.0,19854.0,19884.0,17134.0,16954.0,16900.0,15644.0,18542.0,14111.0
Dusseldorf,15696.0,14946.0,9534.0,1022.0,1321.0,2750.0,6470.0,7410.0,7074.0,6179.0,...,14164.0,14788.0,14403.0,14047.0,10349.0,9398.0,8744.0,8442.0,10450.0,8434.0
Frankfurt,36386.0,35855.0,22868.0,6534.0,7800.0,9346.0,15388.0,17694.0,16925.0,17113.0,...,35009.0,35997.0,34154.0,35630.0,32545.0,30154.0,29711.0,27175.0,32120.0,24716.0
Geneva,15125.0,14842.0,9814.0,853.0,1415.0,2904.0,6590.0,7981.0,6214.0,5092.0,...,14419.0,13777.0,13498.0,13261.0,11091.0,13692.0,13399.0,13174.0,14676.0,9339.0
Helsinki,15608.0,14782.0,10249.0,1716.0,2010.0,2762.0,4287.0,5340.0,4209.0,4018.0,...,11663.0,11713.0,11907.0,12058.0,10857.0,11511.0,11486.0,10542.0,11809.0,7878.0
IGA Istanbul Airport,34920.0,31343.0,19785.0,1348.0,1547.0,7012.0,13186.0,15102.0,14458.0,15652.0,...,41532.0,41176.0,39654.0,37263.0,36699.0,37148.0,38609.0,35545.0,39146.0,27369.0
Istanbul Sabiha Gokcen,18445.0,17154.0,11327.0,22.0,171.0,4533.0,9634.0,13509.0,13852.0,13870.0,...,17722.0,17536.0,17051.0,17332.0,15666.0,16651.0,17137.0,15074.0,17024.0,11653.0
Istanbul Ataturk,2217.0,2010.0,2330.0,2318.0,3083.0,2781.0,3077.0,3087.0,3209.0,3382.0,...,1736.0,1959.0,1790.0,1566.0,1360.0,1226.0,NaN,NaN,NaN,NaN
Liege,2868.0,2653.0,2979.0,2468.0,3037.0,2886.0,3099.0,3180.0,3189.0,3372.0,...,2786.0,2670.0,2589.0,2398.0,2414.0,2328.0,2045.0,2139.0,2469.0,1582.0
Lisbon,16656.0,15795.0,10648.0,896.0,1211.0,1897.0,6078.0,9166.0,7940.0,7576.0,...,19506.0,19518.0,18763.0,18696.0,16676.0,17039.0,17023.0,15812.0,18071.0,12970.0
London Gatwick,18683.0,18919.0,13805.0,313.0,252.0,580.0,3132.0,8144.0,7482.0,4577.0,...,23723.0,24600.0,23091.0,22847.0,14876.0,17437.0,15537.0,16164.0,18893.0,14813.0
London Heathrow,38115.0,35439.0,26183.0,5298.0,6924.0,7571.0,12213.0,15462.0,14706.0,18224.0,...,34361.0,34093.0,33437.0,34798.0,34586.0,34586.0,35175.0,32712.0,36884.0,26046.0
London Stansted,14282.0,13857.0,9973.0,1808.0,1863.0,2430.0,6768.0,10650.0,8759.0,6864.0,...,17932.0,17419.0,16930.0,16803.0,13604.0,13848.0,13765.0,12519.0,14457.0,11323.0
Madrid Barajas,33264.0,31474.0,19823.0,2502.0,3000.0,3749.0,10693.0,15173.0,12408.0,11381.0,...,32422.0,31575.0,31354.0,31928.0,30443.0,31171.0,30341.0,27886.0,31325.0,22031.0
Malaga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,13749.0,9213.0,9440.0,8633.0,8226.0,10472.0,9888.0
Manchester,13169.0,13201.0,8453.0,706.0,733.0,1060.0,4326.0,6986.0,6806.0,5277.0,...,16541.0,16528.0,15820.0,15265.0,11247.0,11735.0,11223.0,10760.0,12770.0,10102.0
Milan Malpensa,15594.0,14799.0,5412.0,2214.0,2865.0,4363.0,9570.0,10022.0,8998.0,7733.0,...,18124.0,18134.0,18340.0,17307.0,13825.0,14480.0,13613.0,13340.0,15493.0,11640.0
Munich,30665.0,29384.0,17297.0,1808.0,2059.0,4563.0,9940.0,12268.0,12710.0,11340.0,...,25951.0,28042.0,27819.0,27901.0,23519.0,21237.0,20179.0,19542.0,21795.0,17423.0
Nice,8421.0,8137.0,5883.0,413.0,836.0,2950.0,8429.0,10599.0,7584.0,5600.0,...,17112.0,15531.0,13199.0,11662.0,8107.0,8630.0,7527.0,7701.0,9256.0,8211.0
Oslo,19310.0,18863.0,13794.0,4349.0,4608.0,5972.0,9725.0,9990.0,10258.0,9884.0,...,17291.0,20237.0,20427.0,19966.0,17363.0,15700.0,15345.0,14548.0,17920.0,12030.0
Palma de Mallorca,7642.0,7924.0,5860.0,704.0,981.0,2263.0,12434.0,15513.0,8920.0,6537.0,...,29134.0,28801.0,25742.0,23525.0,9003.0,8609.0,8298.0,8283.0,11672.0,14081.0
Paris Charles de Gaulle,37775.0,35728.0,23677.0,4287.0,5881.0,9842.0,19086.0,22955.0,18804.0,16888.0,...,39347.0,39968.0,36980.0,36910.0,33691.0,35117.0,33615.0,31207.0,35198.0,25944.0
Paris Orly,16683.0,15695.0,9692.0,83.0,107.0,481.0,5293.0,8391.0,9301.0,8761.0,...,19418.0,19299.0,18579.0,18697.0,16055.0,16794.0,14883.0,14609.0,14398.0,11687.0
Rome Fiumicino,21205.0,19374.0,8623.0,2390.0,2716.0,3544.0,7819.0,10116.0,8667.0,8241.0,...,21524.0,21962.0,21622.0,20552.0,16781.0,17778.0,16925.0,15846.0,18632.0,14928.0
Stockholm Arlanda,16770.0,16528.0,12253.0,2057.0,2132.0,2722.0,4790.0,5745.0,6234.0,6463.0,...,14883.0,16386.0,16740.0,16468.0,14752.0,13852.0,13539.0,13225.0,15966.0,10867.0
Tel Aviv,12327.0,11031.0,5517.0,1344.0,2064.0,2063.0,2556.0,2752.0,3403.0,3776.0,...,14690.0,15074.0,14031.0,13543.0,12402.0,12898.0,12306.0,11121.0,13482.0,10703.0
Vienna,20569.0,19608.0,11270.0,1338.0,1689.0,3617.0,9112.0,11805.0,10721.0,8177.0,...,20839.0,21047.0,21088.0,19993.0,16271.0,16426.0,15431.0,13870.0,17250.0,13725.0
Warsaw Chopin,15516.0,14348.0,8017.0,902.0,995.0,2277.0,6528.0,8336.0,7572.0,6320.0,...,14469.0,14256.0,14475.0,13591.0,11541.0,11718.0,11492.0,10561.0,12459.0,9069.0
Zurich,20102.0,18240.0,10864.0,1601.0,2317.0,4392.0,9142.0,10204.0,8954.0,8045.0,...,20967.0,21020.0,20369.0,20570.0,16890.0,17420.0,16760.0,15469.0,18258.0,14072.0

In the above code, we define the row pairs that need to be merged in the `merge_rows` list. Then, we looped through the specified rows to merge them and filled the missing values in the dataframe. The `combine_first` function was used to merge the rows, prioritizing the values from the former in a pair. In the end, the `drop` function was used to remove the redundant row.

In the following cells, we implemented the same convertion process to wide format for the country, airline and co2 emissions datasets.

In [13]:
# Convert to wide format for airline dataset
wide_ao = grouped_ao.pivot_table(index='Airline', columns='Month', values='Total Flights')

display(wide_ao)

# Export
wide_ao.to_csv('Results/Airline_by_month.csv')

# Convert to wide format for country dataset
wide_state = grouped_state.pivot_table(index='Country', columns='Month', values='Total Flights')

display(wide_state)

# Export
wide_state.to_csv('Results/Country_by_month.csv')

# Convert to wide format for CO2 emissions dataset
wide_co2 = grouped_co2.pivot_table(index='Country', columns='Month', values='Cumulative CO2')

display(wide_co2)

# Export
wide_co2.to_csv('Results/CO2_cumulative_sum.csv')

Month,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,...,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04
Airline,,,,,,,,,,,,,,,,,,,,,
AEGEAN Group,7398.0,6623.0,4949.0,1142.0,1372.0,3406.0,6416.0,7616.0,6305.0,4977.0,...,12626.0,12761.0,11042.0,9497.0,7391.0,7371.0,7075.0,6325.0,7276.0,6439.0
ASL Airlines Belgium,2163.0,2003.0,2276.0,1839.0,1759.0,2133.0,2278.0,2122.0,2357.0,2369.0,...,1919.0,1868.0,1963.0,1867.0,1996.0,1995.0,1948.0,1876.0,2098.0,1273.0
Aer Lingus Group,5261.0,5092.0,5037.0,655.0,748.0,765.0,1261.0,1474.0,1396.0,1228.0,...,5996.0,6025.0,5841.0,5707.0,4814.0,4866.0,4320.0,4145.0,5295.0,4239.0
Air Europa,7644.0,7120.0,4301.0,236.0,257.0,599.0,2821.0,3846.0,2952.0,2774.0,...,5861.0,6102.0,5925.0,5969.0,5532.0,5909.0,5850.0,5240.0,5772.0,3967.0
Air France Group,33495.0,31647.0,19694.0,1036.0,1696.0,5264.0,15408.0,19591.0,20075.0,18073.0,...,33580.0,33346.0,31603.0,31478.0,28648.0,29430.0,27108.0,25739.0,27474.0,21511.0
Austrian Airlines,9435.0,9115.0,4363.0,95.0,73.0,749.0,3033.0,4142.0,4140.0,3586.0,...,10017.0,10316.0,10289.0,9826.0,7682.0,7523.0,6989.0,6180.0,8173.0,7076.0
Bristow Norway,2921.0,2414.0,2704.0,2638.0,2821.0,2968.0,2694.0,2534.0,2566.0,2702.0,...,2156.0,2362.0,2370.0,2256.0,2209.0,1994.0,2117.0,2081.0,2353.0,1673.0
British Airways Group,25174.0,24336.0,17414.0,1784.0,2061.0,2353.0,5906.0,8629.0,7617.0,11401.0,...,21352.0,21800.0,21230.0,22108.0,21091.0,20859.0,21852.0,21059.0,23589.0,17224.0
Brussels Airlines,5456.0,5580.0,2869.0,33.0,22.0,377.0,1729.0,1746.0,1195.0,1053.0,...,5514.0,5464.0,5523.0,5145.0,4410.0,4366.0,4002.0,3952.0,4699.0,4128.0
DHL Group,5660.0,5431.0,6286.0,5566.0,5428.0,5709.0,6151.0,5649.0,6063.0,6247.0,...,7246.0,7556.0,7542.0,7471.0,8023.0,7813.0,7369.0,6876.0,7808.0,4843.0
EL AL,2398.0,2139.0,858.0,266.0,781.0,437.0,52.0,61.0,84.0,291.0,...,2574.0,2871.0,2490.0,2395.0,2122.0,2205.0,2114.0,1914.0,2455.0,1870.0
Emirates,6308.0,5908.0,4113.0,627.0,1091.0,1358.0,1716.0,2176.0,2394.0,2649.0,...,5166.0,5195.0,5083.0,5376.0,5370.0,5665.0,5727.0,5189.0,5816.0,4189.0
Eurowings Group,14906.0,14326.0,9511.0,706.0,958.0,2023.0,5919.0,7774.0,7371.0,5686.0,...,16102.0,17207.0,16910.0,14770.0,9928.0,8822.0,7515.0,8074.0,11011.0,10173.0
Federal Express,1820.0,1755.0,1828.0,1692.0,1670.0,1870.0,1940.0,1772.0,1870.0,1898.0,...,1697.0,1784.0,1722.0,1677.0,1793.0,1760.0,1657.0,1431.0,1610.0,1063.0
Finnair,11016.0,10434.0,6697.0,935.0,1146.0,1502.0,2755.0,3635.0,2512.0,2378.0,...,7990.0,7881.0,8083.0,8230.0,7540.0,8190.0,8405.0,7788.0,8515.0,5862.0
ITA Airways,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10371.0,10279.0,10190.0,9358.0,9456.0,9767.0,9659.0,8575.0,9202.0,7082.0
Iberia Group,10717.0,9998.0,6425.0,510.0,456.0,625.0,3010.0,5097.0,3884.0,3324.0,...,10991.0,10973.0,10517.0,11041.0,10908.0,11288.0,11140.0,10088.0,11274.0,8376.0
Iberia Regional-Air Nostrum,6043.0,5958.0,3543.0,2.0,91.0,455.0,2032.0,2704.0,2723.0,2705.0,...,6999.0,7067.0,6623.0,6284.0,5725.0,5589.0,5571.0,5363.0,5821.0,4455.0
KLM Group,23249.0,21496.0,15916.0,1862.0,3032.0,4924.0,11251.0,17174.0,16521.0,14231.0,...,23901.0,24292.0,23468.0,23770.0,18345.0,18873.0,19147.0,18021.0,22046.0,17501.0
LOT,11190.0,10215.0,5716.0,361.0,290.0,1158.0,4329.0,5691.0,4740.0,3856.0,...,9237.0,9141.0,9014.0,8532.0,7529.0,7579.0,7454.0,6738.0,7857.0,6062.0
Loganair,4027.0,3824.0,3728.0,1108.0,1065.0,1325.0,2195.0,2563.0,3390.0,3249.0,...,5421.0,5437.0,5186.0,5141.0,4595.0,4122.0,4153.0,3856.0,4654.0,3451.0
Lufthansa Airlines,39930.0,39477.0,21955.0,3427.0,3833.0,6727.0,13236.0,15449.0,15882.0,15534.0,...,34767.0,37337.0,34381.0,36879.0,33494.0,29742.0,28586.0,26884.0,30891.0,25569.0
Norwegian Group,14646.0,13859.0,9636.0,1233.0,1069.0,1220.0,3222.0,3140.0,4186.0,3995.0,...,12994.0,13216.0,12844.0,12988.0,10375.0,10009.0,9014.0,8567.0,11183.0,8534.0
Pegasus,14305.0,13324.0,8447.0,16.0,22.0,2813.0,7350.0,11193.0,11238.0,10818.0,...,15676.0,15761.0,14466.0,14595.0,11732.0,12442.0,11865.0,10798.0,11925.0,9888.0
Qatar Airways,7793.0,7426.0,5889.0,2473.0,3094.0,3037.0,3830.0,4018.0,4391.0,4908.0,...,6373.0,6270.0,5677.0,5914.0,5588.0,5786.0,5828.0,5298.0,5864.0,4233.0
Royal Air Maroc,6308.0,5403.0,2699.0,38.0,30.0,283.0,1004.0,1331.0,1309.0,1940.0,...,6181.0,6165.0,4991.0,4933.0,4539.0,5436.0,5093.0,4426.0,4687.0,3358.0
Ryanair Group,62872.0,58563.0,34466.0,1800.0,1602.0,3567.0,32774.0,51475.0,38939.0,30184.0,...,92715.0,93329.0,89171.0,88924.0,64677.0,66298.0,69012.0,61063.0,71966.0,65979.0
SAS Group,21236.0,21935.0,15460.0,2464.0,2672.0,4441.0,8681.0,9521.0,10092.0,9716.0,...,13607.0,18413.0,19650.0,19376.0,17714.0,14799.0,15213.0,15654.0,18675.0,12947.0
SWISS Group,12592.0,11500.0,5909.0,459.0,579.0,1572.0,5079.0,5422.0,4140.0,3424.0,...,12557.0,12552.0,11848.0,12094.0,9934.0,10431.0,9740.0,9267.0,11000.0,9502.0
TAP Group,10754.0,9745.0,6020.0,90.0,213.0,333.0,2184.0,4100.0,4078.0,4025.0,...,10433.0,10566.0,10044.0,10174.0,8868.0,8857.0,9598.0,8460.0,9429.0,7111.0
TUI Group,7164.0,7240.0,5534.0,120.0,120.0,259.0,3529.0,5664.0,4177.0,3014.0,...,17028.0,17270.0,15818.0,12336.0,6113.0,6387.0,5890.0,5524.0,6535.0,5708.0
Turkish Airlines,37761.0,34599.0,23872.0,2559.0,3217.0,11009.0,18812.0,21572.0,19918.0,20301.0,...,46962.0,45669.0,43035.0,39544.0,36384.0,37419.0,39687.0,36649.0,40309.0,30037.0
Volotea,2261.0,2136.0,1115.0,1.0,1.0,936.0,5976.0,7945.0,5164.0,2714.0,...,8922.0,9432.0,7419.0,5649.0,2441.0,4424.0,2642.0,1977.0,2046.0,3053.0
Vueling,13215.0,12714.0,7136.0,659.0,503.0,796.0,7084.0,11732.0,7937.0,6395.0,...,21932.0,22127.0,20359.0,19698.0,14014.0,15032.0,14016.0,13956.0,16043.0,14037.0
Wideroe,9960.0,8883.0,7544.0,4589.0,4467.0,6066.0,8089.0,8218.0,8494.0,8528.0,...,9606.0,10356.0,10930.0,10693.0,10301.0,9248.0,9680.0,8635.0,10300.0,6598.0
Wizz Air Group,17668.0,16214.0,9664.0,731.0,1306.0,5288.0,15279.0,16940.0,12381.0,9005.0,...,24525.0,25312.0,24330.0,23510.0,19153.0,23218.0,21845.0,18324.0,20721.0,17889.0
easyJet Group,38111.0,40722.0,27357.0,246.0,366.0,1212.0,14407.0,31140.0,21927.0,13510.0,...,49591.0,50711.0,48918.0,49389.0,29217.0,35236.0,27974.0,33157.0,39132.0,33665.0

Month,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,...,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04
Country,,,,,,,,,,,,,,,,,,,,,
Albania,2071,1753,917,150,222,465,1928,2281,1698,1502,...,4416,4702,3974,3397,2827,3097,2878,2461,3036,2692
Armenia,2201,1814,1345,217,212,311,303,467,615,797,...,3984,4132,3720,3610,3069,3343,3409,2803,3242,2524
Austria,27399,26975,15060,1798,2658,5850,13125,15998,14543,11342,...,27683,27451,26994,25092,20471,21630,21574,20430,24047,17964
Belgium,25198,24321,17322,5083,6337,8477,15420,16302,13937,13166,...,28971,28289,27004,25845,22063,21840,20875,20237,23344,18104
Bosnia-Herzegovina,1160,1117,741,225,206,616,876,938,757,732,...,2764,2652,2216,1828,1478,1461,1486,1281,1554,1316
Bulgaria,5440,5157,3740,1088,1703,2702,5356,5700,4743,3754,...,9942,9866,8179,6242,4928,5173,5294,4756,5548,4302
Croatia,3868,3812,2857,416,939,3052,7818,10377,5732,3265,...,16607,16603,13098,9704,4431,4138,3941,3649,4835,5321
Cyprus,4889,4573,3314,727,853,1488,3458,4288,4003,3806,...,8214,8488,7881,8054,5163,4805,4429,4307,5362,5431
Czech Republic,11328,10471,6620,1539,1730,2928,6093,6637,6271,4542,...,13317,13222,12768,10675,8269,8195,7374,7282,9247,7374
Denmark,24700,24076,15371,2585,3171,5200,10424,12057,12251,10799,...,26076,27012,26526,26261,21624,19793,19933,19519,23524,17927
Estonia,3253,3145,2108,441,793,1251,1783,1846,1746,1484,...,3380,3406,3439,3469,2747,2554,2606,2446,2935,2034
Finland,17880,17140,11884,2175,2483,3595,4948,6504,5320,4828,...,12912,13282,13375,13422,12519,14555,13561,12480,13968,9347
France,111111,107183,69513,10847,17007,33059,70358,81403,70967,62775,...,142144,134398,127572,124706,99832,103257,96951,95653,104733,85536
Georgia,2952,2590,1579,356,477,530,611,678,776,660,...,4420,4674,4074,3505,3092,3416,3112,2761,3310,2568
Germany,143218,138968,94022,22929,29923,43760,77062,86218,83916,76932,...,150927,152795,150499,149380,119403,109376,104981,101578,120795,100022
Greece,17963,16667,12882,3805,4888,9253,29413,40931,30860,22505,...,73784,73463,60269,44084,19170,18942,17447,16026,19627,21538
Hungary,9994,9510,6445,1229,1496,2657,5238,5724,3335,2718,...,10699,10355,10203,9556,8333,8433,7819,7199,8715,6844
Ireland,20316,19477,16048,2444,2757,3497,8624,10468,8721,7069,...,25766,25407,24662,24343,20856,20531,20344,18807,22504,18144
Israel,12957,11650,5803,1372,2114,2114,2648,2872,3511,3857,...,15187,15533,14509,13898,12870,13341,13005,11778,14086,11343
Italy,87316,82808,32015,7566,9410,18892,51862,68646,56209,46377,...,127637,124161,118967,107058,79115,81747,78348,74036,87487,76166
Latvia,6503,5954,3767,343,626,1482,3248,3561,3351,2610,...,5230,5198,5126,5162,4395,4585,4345,3802,4599,3625
Lithuania,4770,4566,3076,762,968,1626,2925,3450,3017,2208,...,4856,5019,4863,4816,3795,3616,3703,3409,3949,3175
Luxembourg,5755,5486,3875,1118,1390,2191,3716,3742,3620,3545,...,6669,6346,6601,6411,5490,5443,4855,4890,5752,4353
Malta,3876,3650,2229,459,540,518,2119,3235,2573,2116,...,5231,5052,4833,4577,3564,3529,3329,3143,3938,3799
Moldova,1847,1645,915,177,174,435,849,899,879,798,...,2036,2211,2477,2318,2129,1922,1879,1564,1528,1166
Morocco,16891,15497,8892,555,641,1226,2802,3804,3964,5012,...,18596,18464,16400,16762,15127,17051,15339,14371,16150,11241
Netherlands,44954,42562,31265,6107,8826,12616,23710,31081,29110,25204,...,48671,49408,48696,47780,38738,38441,37703,36033,42729,33333
North Macedonia,1521,1389,866,158,140,131,959,945,797,701,...,2216,2124,1957,1717,1360,1458,1395,1200,1473,1303
Norway,40408,38436,30188,14540,15342,19345,25464,26691,27334,26539,...,40201,44472,44184,43126,38557,34960,34978,32670,39593,27335
Poland,31522,29431,16303,2201,2636,5149,16736,20983,18264,15277,...,36814,36961,36046,33205,26091,26675,26163,24428,28744,22917
Portugal,27291,26545,18574,1837,2672,4953,15387,21695,18791,16872,...,40981,40816,38291,37479,28465,29419,28482,27143,32108,26928
Romania,13949,13022,8855,1942,2012,3240,7815,8767,7987,7022,...,17646,17853,15733,14784,13149,13385,13266,11931,13697,11000
Serbia & Montenegro,6174,5855,3586,700,937,2475,4589,4887,4465,4172,...,10355,10203,8995,7566,6202,6531,6312,5637,6616,5332
Slovakia,1985,1944,1084,391,422,785,1313,1705,1382,1043,...,3485,3491,2914,2212,1655,1453,1432,1525,1956,1413
Slovenia,1727,1593,1135,497,482,1041,1234,1391,1261,1002,...,2213,2113,2104,1965,1604,1451,1433,1424,1765,1283
Spain,108292,106617,70753,7793,9429,16459,67997,87930,61020,50469,...,163679,160942,148843,148023,110449,112149,105801,101091,120556,103863
Sweden,29302,29133,21799,4821,5239,6585,9466,11519,12450,12713,...,25447,27785,28445,27404,24501,22846,22785,22177,26472,18788
Switzerland,38727,36882,22668,3007,4911,9730,19286,21669,18126,15567,...,39679,38859,37604,36970,30142,34041,33663,33054,36613,26616
TÃ¼rkiye,68062,61960,42447,4594,5781,19594,38607,53962,53463,51132,...,109789,110454,99061,91086,68870,69658,69696,66743,72128,58345
Ukraine,12846,11842,7387,722,1394,2102,6855,9484,8463,7457,...,9,4,2,7,1,6,2,9,8,0
United Kingdom,148176,144783,103627,15767,19456,25161,59130,85575,79436,68020,...,176535,173145,167760,164207,128181,135859,128415,124080,143720,114239

Month,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,...,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03
Country,,,,,,,,,,,,,,,,,,,,,
Albania,11834.426,21856.655,26904.804,27412.230,28518.829,30723.562,42024.539,5.534630e+04,6.485083e+04,7.198990e+04,...,3.613926e+05,3.923533e+05,4.253930e+05,4.533614e+05,4.764549e+05,4.951344e+05,5.145176e+05,5.330674e+05,5.486680e+05,5.668165e+05
Armenia,20693.241,37880.059,50522.081,53039.794,55351.337,58849.252,62709.959,6.816330e+04,7.501421e+04,8.390421e+04,...,4.688442e+05,5.088729e+05,5.503800e+05,5.879640e+05,6.257265e+05,6.575209e+05,6.934509e+05,7.292358e+05,7.581518e+05,7.919833e+05
Austria,233968.943,450828.303,581847.973,605835.695,634534.862,663459.701,737304.739,8.301769e+05,9.121982e+05,9.794233e+05,...,3.294705e+06,3.517991e+06,3.738573e+06,3.948692e+06,4.151244e+06,4.316787e+06,4.494954e+06,4.673281e+06,4.836483e+06,5.031010e+06
Belgium,368320.597,715066.752,1031197.505,1236004.989,1474598.513,1698492.306,1977977.515,2.277445e+06,2.551802e+06,2.828461e+06,...,1.008446e+07,1.054825e+07,1.101445e+07,1.144215e+07,1.187129e+07,1.226456e+07,1.265944e+07,1.302540e+07,1.337801e+07,1.377870e+07
Bosnia-Herzegovina,6149.965,11773.297,15229.886,16086.009,16709.202,19596.303,23748.950,2.872510e+04,3.242005e+04,3.576824e+04,...,1.915433e+05,2.123713e+05,2.319254e+05,2.452789e+05,2.546611e+05,2.620469e+05,2.700314e+05,2.781059e+05,2.850160e+05,2.932167e+05
Bulgaria,45409.442,88998.387,122669.680,135972.412,157866.332,187947.400,239362.685,2.910372e+05,3.342859e+05,3.712823e+05,...,1.220257e+06,1.306045e+06,1.391682e+06,1.463792e+06,1.521063e+06,1.560765e+06,1.604615e+06,1.650639e+06,1.690276e+06,1.736461e+06
Canary Islands,299916.646,592824.399,807763.696,817992.963,828999.227,847641.951,959134.176,1.105466e+06,1.202203e+06,1.289923e+06,...,5.025162e+06,5.293972e+06,5.563863e+06,5.814305e+06,6.115165e+06,6.441862e+06,6.795427e+06,7.122085e+06,7.425235e+06,7.758754e+06
Croatia,16911.849,33832.768,47276.121,50609.305,53225.104,61325.096,93053.089,1.410734e+05,1.673387e+05,1.784021e+05,...,7.511289e+05,8.491912e+05,9.469300e+05,1.024034e+06,1.078917e+06,1.098600e+06,1.117064e+06,1.133278e+06,1.147966e+06,1.169083e+06
Cyprus,53602.196,102497.142,140807.329,151340.699,164085.949,180783.559,217570.564,2.652234e+05,3.153447e+05,3.615207e+05,...,1.387856e+06,1.484028e+06,1.583391e+06,1.675236e+06,1.766587e+06,1.818521e+06,1.864065e+06,1.906868e+06,1.949113e+06,2.004440e+06
Czechia,87490.318,163940.563,214370.899,230540.471,242579.739,253063.476,281253.238,3.173816e+05,3.512941e+05,3.763778e+05,...,1.275748e+06,1.376553e+06,1.476360e+06,1.564486e+06,1.637806e+06,1.693219e+06,1.750092e+06,1.800238e+06,1.849022e+06,1.911651e+06
Denmark,227337.590,440470.319,581031.217,598702.529,625089.229,658526.139,730769.780,8.127530e+05,8.974759e+05,9.785268e+05,...,3.518169e+06,3.736718e+06,3.965500e+06,4.179706e+06,4.397692e+06,4.570641e+06,4.742071e+06,4.911809e+06,5.068589e+06,5.257144e+06
Estonia,14654.966,28928.389,39089.314,41077.403,43370.447,47264.527,54969.565,6.213438e+04,6.850540e+04,7.350732e+04,...,3.312071e+05,3.481046e+05,3.650553e+05,3.832149e+05,4.019076e+05,4.158579e+05,4.292062e+05,4.423645e+05,4.546332e+05,4.699466e+05
Finland,229513.491,432535.545,571449.532,597334.061,635269.394,672104.473,716327.872,7.710699e+05,8.173316e+05,8.663073e+05,...,2.715422e+06,2.867061e+06,3.015840e+06,3.164804e+06,3.321967e+06,3.471853e+06,3.658222e+06,3.833938e+06,3.994962e+06,4.171329e+06
France,1671341.010,3199666.029,4273476.603,4510474.375,4856564.808,5300490.060,6048396.272,6.948091e+06,7.759471e+06,8.578456e+06,...,3.008742e+07,3.189683e+07,3.370106e+07,3.530679e+07,3.693570e+07,3.836089e+07,3.990923e+07,4.135941e+07,4.271461e+07,4.420601e+07
Georgia,30250.360,57446.748,74987.255,82721.775,95620.815,107560.732,120116.240,1.322325e+05,1.463754e+05,1.578942e+05,...,7.897739e+05,8.382117e+05,8.899605e+05,9.354097e+05,9.788712e+05,1.019407e+06,1.060358e+06,1.095512e+06,1.125550e+06,1.162203e+06
Germany,2304072.733,4428570.962,6031835.456,6703681.801,7457564.939,8217054.624,9261961.144,1.042820e+07,1.154684e+07,1.268032e+07,...,4.281490e+07,4.513232e+07,4.748779e+07,4.974364e+07,5.204993e+07,5.398806e+07,5.590493e+07,5.776491e+07,5.947773e+07,6.147896e+07
Greece,140902.495,268129.905,361062.194,381875.122,407400.259,449907.737,672271.612,1.015909e+06,1.280108e+06,1.472803e+06,...,6.091842e+06,6.811873e+06,7.531318e+06,8.132715e+06,8.570605e+06,8.710989e+06,8.841515e+06,8.962390e+06,9.070572e+06,9.210528e+06
Hungary,85346.075,160674.610,211823.833,224965.720,240904.714,260489.962,294349.439,3.331109e+05,3.570098e+05,3.778172e+05,...,1.304579e+06,1.389289e+06,1.476044e+06,1.554843e+06,1.632126e+06,1.703765e+06,1.776212e+06,1.843921e+06,1.904723e+06,1.977170e+06
Iceland,20962.894,44232.975,61448.722,65104.645,71575.833,79533.682,88719.641,9.518529e+04,1.017758e+05,1.117614e+05,...,5.568083e+05,6.116467e+05,6.660571e+05,7.108493e+05,7.514898e+05,7.820620e+05,8.104317e+05,8.325614e+05,8.504547e+05,8.768137e+05
Ireland,207331.811,400834.890,568695.226,608727.471,668629.925,726886.316,819240.884,9.269873e+05,1.022622e+06,1.106308e+06,...,3.725377e+06,4.022627e+06,4.314666e+06,4.596115e+06,4.864726e+06,5.076697e+06,5.289572e+06,5.493991e+06,5.674932e+06,5.908561e+06
Italy,1007158.391,1905770.789,2288144.014,2400342.270,2542993.900,2743918.214,3188698.859,3.754693e+06,4.235589e+06,4.673476e+06,...,1.714759e+07,1.838551e+07,1.961685e+07,2.079897e+07,2.189628e+07,2.270594e+07,2.356021e+07,2.437731e+07,2.512940e+07,2.603767e+07
Kosovo,9995.784,18588.862,23798.345,24878.616,26203.718,27649.493,34743.963,4.245012e+04,4.777563e+04,5.670516e+04,...,2.856252e+05,3.062027e+05,3.262791e+05,3.401056e+05,3.526739e+05,3.630702e+05,3.760525e+05,3.889115e+05,3.983789e+05,4.095225e+05
Latvia,35963.402,67794.649,88711.455,90781.279,93917.576,101554.671,120765.235,1.396424e+05,1.582927e+05,1.729623e+05,...,6.088581e+05,6.412329e+05,6.737238e+05,7.063502e+05,7.394164e+05,7.667160e+05,7.954809e+05,8.230775e+05,8.472752e+05,8.765314e+05
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.630000e-01,NaN,...,1.036300e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,29319.047,57521.855,76668.893,84453.343,90657.489,98500.420,115797.463,1.364878e+05,1.536936e+05,1.663698e+05,...,5.858527e+05,6.204876e+05,6.548616e+05,6.889611e+05,7.241717e+05,7.504526e+05,7.756706e+05,8.015456e+05,8.255500e+05,8.534703e+05
Luxembourg,127532.766,250397.216,382435.853,487184.279,605881.976,717203.871,840543.552,9.673915e+05,1.099180e+06,1.247043e+06,...,4.307807e+06,4.474864e+06,4.634049e+06,4.789125e+06,4.952336e+06,5.110044e+06,5.263387e+06,5.390330e+06,5.523575e+06,5.674817e+06
Malta,33819.194,65670.744,86110.073,90071.024,94500.194,99667.554,116084.664,1.417882e+05,1.627749e+05,1.796049e+05,...,6.209700e+05,6.628885e+05,7.041199e+05,7.428517e+05,7.799093e+05,8.078972e+05,8.358426e+05,8.634748e+05,8.887443e+05,9.206197e+05
"Moldova, Republic Of",12769.194,23688.223,29649.834,30852.579,31976.425,35373.411,42104.196,4.911953e+04,5.594212e+04,6.188147e+04,...,2.542913e+05,2.700381e+05,2.873688e+05,3.068369e+05,3.248500e+05,3.414249e+05,3.572378e+05,3.728084e+05,3.853688e+05,3.968195e+05
Monaco,16.663,34.646,43.669,44.101,59.127,94.745,141.136,1.942360e+02,2.382210e+02,2.729620e+02,...,9.722595e+02,1.020700e+03,1.071500e+03,1.108056e+03,1.138583e+03,1.157766e+03,1.163616e+03,1.174392e+03,1.187685e+03,1.206673e+03
Montenegro,5811.083,10925.394,14125.891,14493.440,14854.530,15918.386,20964.187,2.789530e+04,3.377266e+04,3.701842e+04,...,1.515772e+05,1.673771e+05,1.831112e+05,1.948265e+05,2.025469e+05,2.066489e+05,2.107439e+05,2.149242e+05,2.186654e+05,2.234206e+05
Netherlands,817635.400,1573378.787,2185368.530,2440609.824,2797824.120,3210964.248,3751798.289,4.349264e+06,4.904791e+06,5.471046e+06,...,1.815115e+07,1.900698e+07,1.986290e+07,2.068597e+07,2.151329e+07,2.222968e+07,2.295465e+07,2.367196e+07,2.433807e+07,2.510439e+07
North Macedonia,10462.922,19768.966,25331.912,25867.233,26270.456,26488.480,33249.163,3.960807e+04,4.421590e+04,4.796736e+04,...,1.996026e+05,2.149129e+05,2.300657e+05,2.437107e+05,2.550758e+05,2.633616e+05,2.726768e+05,2.812848e+05,2.887101e+05,2.981153e+05
Norway,234018.624,464822.290,636339.993,686159.921,747666.861,825555.009,941353.279,1.064014e+06,1.190842e+06,1.311157e+06,...,4.132344e+06,4.369850e+06,4.623328e+06,4.862044e+06,5.098302e+06,5.294196e+06,5.479763e+06,5.659346e+06,5.827874e+06,6.032905e+06
Poland,251641.754,481739.943,613505.544,631158.907,653901.059,687138.306,802593.066,9.526609e+05,1.073559e+06,1.176211e+06,...,4.348790e+06,4.659108e+06,4.973572e+06,5.266817e+06,5.547586e+06,5.768454e+06,6.004522e+06,6.236311e+06,6.447970e+06,6.709782e+06
Portugal,373186.365,726464.056,975560.981,1002045.314,1038910.945,1093090.620,1239260.353,1.454457e+06,1.651773e+06,1.837934e+06,...,6.818930e+06,7.304803e+06,7.795844e+06,8.258071e+06,8.712154e+06,9.062868e+06,9.426637e+06,9.785638e+06,1.011656e+07,1.050740e+07
Romania,108893.537,208577.832,278789.954,296341.497,309389.643,328433.832,388553.859,4.599533e+05,5.217142e+05,5.719794e+05,...,2.120558e+06,2.254641e+06,2.390992e+06,2.507739e+06,2.618253e+06,2.714039e+06,2.816587e+06,2.920020e+06,3.010738e+06,3.115796e+06
Serbia,31231.851,59291.255,77571.428,84844.085,91342.657,101875.753,121046.306,1.419577e+05,1.606564e+05,1.813115e+05,...,7.169712e+05,7.630578e+05,8.095352e+05,8.516947e+05,8.885637e+05,9.191153e+05,9.547319e+05,9.883693e+05,1.017944e+06,1.051784e+06
Slovakia,9986.675,19757.241,25092.751,27356.606,29146.843,31089.612,34739.376,4.126581e+04,4.624610e+04,5.041805e+04,...,1.829446e+05,2.035637e+05,2.242826e+05,2.404461e+05,2.506236e+05,2.580053e+05,2.652656e+05,2.721562e+05,2.791046e+05,2.878016e+05
Slovenia,5720.475,11327.878,14996.539,17785.510,19295.495,20924.294,23567.850,2.660989e+04,2.916098e+04,3.104773e+04,...,1.177527e+05,1.269407e+05,1.356003e+05,1.441189e+05,1.509603e+05,1.561613e+05,1.613796e+05,1.665299e+05,1.715885e+05,1.780726e+05
Spain,1215132.729,2358215.014,3128330.995,3260287.431,3437191.596,3608162.735,4136603.600,4.834089e+06,5.365363e+06,5.840088e+06,...,2.249218e+07,2.409901e+07,2.569760e+07,2.717904e+07,2.862956e+07,2.972160e+07,3.084586e+07,3.190996e+07,3.290473e+07,3.410877e+07
Sweden,242394.506,471720.631,643377.041,666574.383,693612.148,725394.471,782690.050,8.545541e+05,9.268743e+05,1.002623e+06,...,3.268414e+06,3.466777e+06,3.674496e+06,3.877070e+06,4.074198e+06,4.245143e+06,4.420430e+06,4.589108e+06,4.747050e+06,4.931045e+06
Switzerland,469900.451,899887.416,1176617.192,1223499.863,1296326.635,1380924.971,1532889.715,1.702918e+06,1.855264e+06,2.006777e+06,...,6.703347e+06,7.134515e+06,7.557164e+06,7.953409e+06,8.364116e+06,8.720577e+06,9.109867e+06,9.494829e+06,9.850198e+06,1.025600e+07
TÃ¼rkiye,1127832.285,2140993.072,2833657.650,2964286.052,3151371.667,3500060.970,4066610.848,4.848932e+06,5.647216e+06,6.438145e+06,...,2.583242e+07,2.756659e+07,2.933085e+07,3.094259e+07,3.245636e+07,3.363733e+07,3.479358e+07,3.598852e+07,3.712142e+07,3.837973e+07
United Kingdom,2748923.227,5294313.542,7273090.811,7683882.256,8246458.816,8861397.695,9723474.134,1.084526e+07,1.197485e+07,1.308896e+07,...,4.116955e+07,4.392254e+07,4.666649e+07,4.930886e+07,5.192230e+07,5.415267e+07,5.650336e+07,5.881052e+07,6.096659e+07,6.345771e+07

In addition to the monthly data, we also computed the total flights and sort the results to get the overall rankings during the whole span. <p>
In terms of the airport data, we used the above dataframe that merged different airport names. It was in wide format, so we converted it in long format.

In [14]:
# Reset the index of the pivot table
wide_airport.reset_index(inplace=True)

# Convert the pivot table from wide to long format using the melt function
airport_merged= pd.melt(wide_airport, id_vars='Airport', var_name='Month', value_name='Total Flights')

# Group by airport and calculate the sum of flights for each airport
airport_totals = airport_merged.groupby('Airport')['Total Flights'].sum().reset_index()

# Sort the DataFrame by the total flights in descending order
airport_totals_sorted = airport_totals.sort_values('Total Flights', ascending=False)

# Reset the index of the sorted DataFrame
airport_totals_sorted.reset_index(drop=True, inplace=True)

# Export the result - Airport
airport_totals_sorted.to_csv('Results/Total_ranking_Airport.csv')

# Group by country and calculate the sum of flights for each airport
state_totals = grouped_state.groupby('Country')['Total Flights'].sum().reset_index()

# Sort the DataFrame by the total flights in descending order
state_totals_sorted = state_totals.sort_values('Total Flights', ascending=False)

# Reset the index of the sorted DataFrame
state_totals_sorted.reset_index(drop=True, inplace=True)

# Export the result - Country
state_totals_sorted.to_csv('Results/Total_ranking_Country.csv')

# Group by airline and calculate the sum of flights for each airport
ao_totals = grouped_ao.groupby('Airline')['Total Flights'].sum().reset_index()

# Sort the DataFrame by the total flights in descending order
ao_totals_sorted = ao_totals.sort_values('Total Flights', ascending=False)

# Reset the index of the sorted DataFrame
ao_totals_sorted.reset_index(drop=True, inplace=True)

# Export the result - Airline
ao_totals_sorted.to_csv('Results/Total_ranking_Airline.csv')

# Group by country and calculate the sum of flights for each airport
co2_totals = grouped_co2.groupby('Country')['CO2 Emissions'].sum().reset_index()

# Sort the DataFrame by the total flights in descending order
co2_totals_sorted = co2_totals.sort_values('CO2 Emissions', ascending=False)

# Reset the index of the sorted DataFrame
co2_totals_sorted.reset_index(drop=True, inplace=True)

# Export the result - CO2 Emissions
co2_totals_sorted.to_csv('Results/Total_ranking_CO2.csv')

To create projection maps that aimed to visually show the overall situation, we calculated the sum of flights and CO2 emissions for each country.

In [15]:
# Group by country and calculate the sum
sum_state = grouped_state.groupby(grouped_state['Country'])['Total Flights'].sum().reset_index()

display(sum_state)

# Export
sum_state.to_csv('Results/Sum_country.csv')

# Group by country and calculate the sum
sum_co2 = grouped_co2.groupby(grouped_co2['Country'])['CO2 Emissions'].sum().reset_index()

display(sum_co2)

# Export
sum_co2.to_csv('Results/Sum_CO2.csv')

                Country  Total Flights
0               Albania          91688
1               Armenia          77617
2               Austria         675221
3               Belgium         753014
4    Bosnia-Herzegovina          51505
5              Bulgaria         196587
6               Croatia         242756
7                Cyprus         184718
8        Czech Republic         291460
9               Denmark         638865
10              Estonia          91803
11              Finland         372991
12               France        3389443
13              Georgia          93058
14              Germany        3909233
15               Greece        1083213
16              Hungary         251310
17              Ireland         561456
18               Israel         336466
19                Italy        2681343
20               Latvia         146403
21            Lithuania         130207
22           Luxembourg         177522
23                Malta         118388
24              Moldova          52424
25              Morocco         405947
26          Netherlands        1307017
27      North Macedonia          47480
28               Norway        1235575
29               Poland         857958
30             Portugal         916715
31              Romania         423898
32  Serbia & Montenegro         217371
33             Slovakia          62720
34             Slovenia          56473
35                Spain        3586051
36               Sweden         720941
37          Switzerland        1009362
38              TÃ¼rkiye        2405820
39              Ukraine         232106
40       United Kingdom        3885997

                 Country  CO2 Emissions
0                Albania   5.668165e+05
1                Armenia   7.919833e+05
2                Austria   5.031010e+06
3                Belgium   1.377870e+07
4     Bosnia-Herzegovina   2.932167e+05
5               Bulgaria   1.736461e+06
6         Canary Islands   7.758754e+06
7                Croatia   1.169083e+06
8                 Cyprus   2.004440e+06
9                Czechia   1.911651e+06
10               Denmark   5.257144e+06
11               Estonia   4.699466e+05
12               Finland   4.171329e+06
13                France   4.420601e+07
14               Georgia   1.162203e+06
15               Germany   6.147896e+07
16                Greece   9.210528e+06
17               Hungary   1.977170e+06
18               Iceland   8.768137e+05
19               Ireland   5.908561e+06
20                 Italy   2.603767e+07
21                Kosovo   4.095225e+05
22                Latvia   8.765314e+05
23         Liechtenstein   1.036300e+00
24             Lithuania   8.534703e+05
25            Luxembourg   5.674817e+06
26                 Malta   9.206197e+05
27  Moldova, Republic Of   3.968195e+05
28                Monaco   1.206673e+03
29            Montenegro   2.234206e+05
30           Netherlands   2.510439e+07
31       North Macedonia   2.981153e+05
32                Norway   6.032905e+06
33                Poland   6.709782e+06
34              Portugal   1.050740e+07
35               Romania   3.115796e+06
36                Serbia   1.051784e+06
37              Slovakia   2.878016e+05
38              Slovenia   1.780726e+05
39                 Spain   3.410877e+07
40                Sweden   4.931045e+06
41           Switzerland   1.025600e+07
42               TÃ¼rkiye   3.837973e+07
43        United Kingdom   6.345771e+07

# Insight 1: Analysis of Flights Data
To investigate this topic, the analysis was divided into two parts. <p>The first part involved dealing with finding out the differences between low-cost airlines and full-service airlines and the second part was to test the hypothesis. The fist part was completed by Zhenhuan Zhang, while the second part was completed by Senjie Zhang separately. <p>Their coding styles are quite different, making it difficult to merge their codes into one script. Therefore, all their original codes were presented. There were some repeated steps in their codes, including similar procedures of importing and cleaning data. However, this will not have any negative effect on the analysis and possible results. <p>

## Zhenhuan's part

First, he imported the datasets, tidied them up, and defined the categories of airlines. Also, he calculated the 2019 data based on the 2020 dataset.

In [16]:
import numpy as np

# Define the years we want to process
years = ['2020', '2021', '2022', '2023']

# Create a list to store dataframes of each year
dataframes = []

# Extracting data for 2019 from the 2020 raw file
data_2020 = pd.read_excel('Raw/2020-Aircraft_Operators.xlsx', 'Data')

# Filter out rows with 2020 in 'Day 2019' columnï¼ˆIn the raw datasets, there're some data of 2020 in 'Day 2019' column*ï¼‰
data_2019 = data_2020[~data_2020['Day 2019'].dt.year.eq(2020)].copy()
# Create a new dataframe for 2019
data_2019['Day'] = pd.to_datetime(data_2019['Day 2019'])
data_2019['Flights'] = data_2019['Flights Previous Year']
# Select the desired columns
data_2019 = data_2019[['Entity', 'Day', 'Flights']]

# Group the data by month and entity and calculate the total flights
monthly_flights_2019 = data_2019.groupby([data_2019['Day'].dt.to_period('M'), 'Entity']).sum().reset_index()
monthly_flights_2019.columns = ['Month', 'Entity', 'Total Flights']
dataframes.append(monthly_flights_2019)

# Iterate over each other year
for year in years:
    # Read the original data, keep only the "Entity", "Day", and "Flights" columns
    data = pd.read_excel(f'Raw/{year}-Aircraft_Operators.xlsx', 'Data')
    data = data[['Entity', 'Day', 'Flights']]

    # Convert "Day" column to date type
    data['Day'] = pd.to_datetime(data['Day'])

    # Group by month and entity, and calculate the total flights per month
    monthly_flights = data.groupby([data['Day'].dt.to_period('M'), 'Entity']).sum()
    monthly_flights.reset_index(inplace=True)

    # Keep only the entity, month, and total flights columns
    monthly_flights = monthly_flights[['Entity', 'Day', 'Flights']]
    monthly_flights.columns = ['Entity', 'Month', 'Total Flights']

    # Add the dataframe to the list
    dataframes.append(monthly_flights)

# Concatenate all dataframes in the list
ao_monthly = pd.concat(dataframes, axis=0)

# Convert 'Month' column to datetime type
ao_monthly['Month'] = ao_monthly['Month'].apply(lambda x: x.to_timestamp())

# Check for duplicates
print(ao_monthly.duplicated().sum())

# Remove duplicates
ao_monthly.drop_duplicates(keep='first', inplace=True)

# Check for missing values
print(ao_monthly.isna().sum())

# Fill the missing values
ao_monthly.fillna(0, inplace=True)

# Convert 'Month' column to datetime type
ao_monthly['Month'] = pd.to_datetime(ao_monthly['Month'])

# Sort the data by airline and month
ao_monthly.sort_values(['Entity', 'Month'], inplace=True)

# Remove duplicates
ao_monthly.drop_duplicates(keep='first', inplace=True)

# Check for missing valuesa
print(ao_monthly.isna().sum())

# Fill the missing values
ao_monthly.fillna(0, inplace=True)

# Filter out cargo airlines
ao_monthly = ao_monthly[~ao_monthly['Entity'].isin(['Federal Express', 'DHL Group'])]

# Create low-cost airline list
low_cost_list = ['easyJet Group', 'Eurowings Group', 'Norwegian Group',
                 'Pegasus', 'Ryanair Group', 'Vueling', 'Wizz Air Group', 'Air Europa', 'Iberia Group',
                 'Iberia Regional-Air Nostrum', 'Volotea']

# Add 'Category' column based on airline type
ao_monthly['Category'] = np.where(ao_monthly['Entity'].isin(low_cost_list), 'Low Cost Airline', 'Full Service Airline')

# Overview of the dataset
print(ao_monthly)

109
Month            0
Entity           0
Total Flights    0
dtype: int64
Month            0
Entity           0
Total Flights    0
dtype: int64
         Month         Entity  Total Flights              Category
0   2019-01-01   AEGEAN Group           6673  Full Service Airline
37  2019-02-01   AEGEAN Group           6099  Full Service Airline
74  2019-03-01   AEGEAN Group           7222  Full Service Airline
111 2019-04-01   AEGEAN Group           9072  Full Service Airline
148 2019-05-01   AEGEAN Group          10310  Full Service Airline
..         ...            ...            ...                   ...
443 2022-12-01  easyJet Group          35236      Low Cost Airline
147 2023-01-01  easyJet Group          27974      Low Cost Airline
184 2023-02-01  easyJet Group          33157      Low Cost Airline
221 2023-03-01  easyJet Group          39132      Low Cost Airline
258 2023-04-01  easyJet Group          33665      Low Cost Airline

[1810 rows x 4 columns]

Then, he calculated the annual change of the two types of airlines.

In [17]:
# Calculacting "Annual Change" Rates/  Annual Change Rates (Abs.)/ Annual Change Rates to 2019

# Convert the 'Month' column to datetime type
ao_monthly['Month'] = pd.to_datetime(ao_monthly['Month'])

# Create a new column 'Year'
ao_monthly['Year'] = ao_monthly['Month'].dt.year

# Group the data by 'Category' and 'Year' and calculate the total flights
annual_flights = ao_monthly.groupby(['Category', 'Year'])['Total Flights'].sum().reset_index()

# Sort the data by 'Category' and 'Year'
annual_flights.sort_values(['Category', 'Year'], inplace=True)

# Calculate percentage change
annual_flights['Percentage Change Yearly'] = annual_flights.groupby('Category')['Total Flights'].pct_change() * 100

# Calculate the absolute value of 'Percentage Change Yearly'
annual_flights['Abs_Percentage Change Yearly'] = annual_flights['Percentage Change Yearly'].abs()

# Extract the flights data for 2019
flights_2019 = annual_flights[annual_flights['Year'] == 2019]

# Drop the 'Percentage Change Yearly' column from flights_2019
flights_2019 = flights_2019.drop(columns='Percentage Change Yearly')

# Rename the columns in flights_2019 for clarity
flights_2019.columns = ['Category', 'Year_2019', 'Total Flights_2019', 'Abs_Percentage Change Yearly_2019']

# Merge flights data for 2019 with annual_flights dataframe
annual_flights = pd.merge(annual_flights, flights_2019, on=['Category'], suffixes=('', '_2019'))

# Calculate the yearly change relative to 2019
annual_flights['Yearly(to 2019)'] = ((annual_flights['Total Flights'] - annual_flights['Total Flights_2019']) / annual_flights['Total Flights_2019']) * 100

# Drop duplicate rows
annual_flights.drop_duplicates(subset=['Category', 'Year'], inplace=True)

# Remove entries from 2019
annual_flights = annual_flights[annual_flights['Year'] != 2019]

# Select the desired columns
annual_flights = annual_flights[['Category', 'Year', 'Total Flights', 'Percentage Change Yearly', 'Abs_Percentage Change Yearly', 'Yearly(to 2019)']]

# Display the resulting table
print(annual_flights)

# Generate data for "low cost airlines"
low_cost_airlines = annual_flights[annual_flights['Category'] == 'Low Cost Airline'].sort_values('Year')

# Generate data for "full service airlines"
full_service_airlines = annual_flights[annual_flights['Category'] == 'Full Service Airline'].sort_values('Year')

# Save the resulting tables to CSV files
low_cost_airlines.to_csv('Results/Annual_low_cost_airlines_changes.csv', index=False)
full_service_airlines.to_csv('Results/Annual_full_service_airlines_changes.csv', index=False)

               Category  Year  Total Flights  Percentage Change Yearly  \
1  Full Service Airline  2020        1692000                -58.135827
2  Full Service Airline  2021        2019359                 19.347459
3  Full Service Airline  2022        3299735                 63.405071
4  Full Service Airline  2023         999455                -69.711053
6      Low Cost Airline  2020        1118276                -61.388950
7      Low Cost Airline  2021        1428523                 27.743330
8      Low Cost Airline  2022        2630500                 84.141242
9      Low Cost Airline  2023         749961                -71.489793

   Abs_Percentage Change Yearly  Yearly(to 2019)
1                     58.135827       -58.135827
2                     19.347459       -50.036173
3                     63.405071       -18.356574
4                     69.711053       -75.271066
6                     61.388950       -61.388950
7                     27.743330       -50.676959
8                     84.141242        -9.175940
9                     71.489793       -74.105872

Finally, he calculated the monthly change.

In [18]:
# Calculacting "Monthly" Rates/  Monthly Rates (Abs.)/ Monthly Change Rates to 2019

import pandas as pd

# Assume ao_monthly is your input data
ao_monthly = ao_monthly.copy()

# Group the data by "Category" and "Month" and calculate the total flights
monthly_flights = ao_monthly.groupby(['Category', 'Month'])['Total Flights'].sum().reset_index()

# Convert the 'Month' column to datetime type if it's not
if ao_monthly['Month'].dtype != 'datetime64[ns]':
    monthly_flights['Month'] = pd.to_datetime(monthly_flights['Month'])

# Sort the data by 'Category' and 'Month'
monthly_flights.sort_values(['Category', 'Month'], inplace=True)

# Calculate percentage change
monthly_flights['Percentage Change Monthly'] = ((monthly_flights['Total Flights'] - monthly_flights.groupby('Category')['Total Flights'].shift(12)) / monthly_flights.groupby('Category')['Total Flights'].shift(12)) * 100

# Calculate the absolute value of 'Percentage Change Monthly'
monthly_flights['Abs_Percentage Change Monthly'] = monthly_flights['Percentage Change Monthly'].abs()

# Add a new column for the month only
monthly_flights['Month_only'] = monthly_flights['Month'].dt.month

# Sort the data by 'Category' and 'Month'
monthly_flights.sort_values(['Category', 'Month'], inplace=True)

# Extract the flights data for 2019
flights_2019 = monthly_flights[monthly_flights['Month'].dt.year == 2019]

# Drop the 'Percentage Change Monthly' column from flights_2019
flights_2019 = flights_2019.drop(columns='Percentage Change Monthly')

# Rename the columns in flights_2019 for clarity
flights_2019.columns = ['Category', 'Month_2019', 'Total Flights_2019', 'Abs_Percentage Change Monthly_2019', 'Month_only']

# Merge flights data for 2019 with monthly_flights dataframe
monthly_flights = pd.merge(monthly_flights, flights_2019, on=['Category', 'Month_only'], suffixes=('', '_2019'))

# Calculate the monthly change relative to 2019
monthly_flights['Monthly(to 2019)'] = ((monthly_flights['Total Flights'] - monthly_flights['Total Flights_2019']) / monthly_flights['Total Flights_2019']) * 100

# Drop duplicate rows
monthly_flights.drop_duplicates(subset=['Category', 'Month'], inplace=True)

# Remove entries from 2019
monthly_flights = monthly_flights[monthly_flights['Month'].dt.year != 2019]

# Select the desired columns
monthly_flights = monthly_flights[['Category', 'Month', 'Total Flights', 'Percentage Change Monthly', 'Abs_Percentage Change Monthly', 'Monthly(to 2019)']]

# Display the resulting table
print(monthly_flights)

# Generate data for "low cost airlines"
low_cost_airlines = monthly_flights[monthly_flights['Category'] == 'Low Cost Airline'].sort_values('Month')

# Generate data for "full service airlines"
full_service_airlines = monthly_flights[monthly_flights['Category'] == 'Full Service Airline'].sort_values('Month')

# Save the resulting tables to CSV files
low_cost_airlines.to_csv('Results/Monthly_low_cost_airlines_changes.csv', index=False)
full_service_airlines.to_csv('Results/Monthly_full_service_airlines_changes.csv', index=False)

                 Category      Month  Total Flights  \
1    Full Service Airline 2020-01-01         302989
2    Full Service Airline 2021-01-01          99736
3    Full Service Airline 2022-01-01         197344
4    Full Service Airline 2023-01-01         261385
6    Full Service Airline 2020-02-01         287034
..                    ...        ...            ...
98       Low Cost Airline 2021-11-01         159770
99       Low Cost Airline 2022-11-01         183702
101      Low Cost Airline 2020-12-01          55695
102      Low Cost Airline 2021-12-01         172162
103      Low Cost Airline 2022-12-01         220148

     Percentage Change Monthly  Abs_Percentage Change Monthly  \
1                     3.620346                       3.620346
2                   -67.082633                      67.082633
3                    97.866367                      97.866367
4                    32.451455                      32.451455
6                     1.405017                       1.405017
..                         ...                            ...
98                  228.197860                     228.197860
99                   14.979032                      14.979032
101                 -74.019219                      74.019219
102                 209.115720                     209.115720
103                  27.872585                      27.872585

     Monthly(to 2019)
1            3.620346
2          -65.890911
3          -32.509584
4          -10.607962
6            1.405017
..                ...
98         -21.556401
99          -9.806309
101        -74.019219
102        -19.689322
103          2.695340

[80 rows x 6 columns]

## Senjie's Part
Since the whole notebook was reviewed and modified by Senjie, the following codes used the same datasets/dataframes and variable names from the previous **Part One** and **Part Two**. <br>

With the datasets imported before, he calculated the differences of flights and removed the two cargo airlines.

In [19]:
# Drop rows with zero denominator to avoid mistakes in division
ao = ao[ao['Flights Previous Year'] != 0]

# Calculate the differences in the number of flights
ao['Diff']= (ao['Flights'] - ao['Flights Previous Year']) / ao['Flights Previous Year']

# Convert to absolute values and percentages
ao['Diff'] = ao['Diff'].abs() * 100

# Remove cargo airlines
ao = ao[~ao['Entity'].isin(['DHL', 'Federal Express'])]

Thirdly, he classified the airlines into the two categories of full-service airlines and low-cost airlines.

In [20]:
# Retrieve the list of remaining airlines
print(ao['Entity'].unique())

# Create a list for low-cost airlines
low_cost_list = ['easyJet Group', 'Eurowings Group', 'Norwegian Group', 
                 'Pegasus', 'Ryanair Group', 'Vueling', 'Wizz Air Group', 'Air Europa', 'Iberia Group',
                'Iberia Regional-Air Nostrum', 'Volotea']

# Subset the original dataframe into two for low-cost and full-service airlines respectively
low_cost = ao[ao['Entity'].isin(low_cost_list)]
display(low_cost)

full_service = ao[~ao['Entity'].isin(low_cost_list)]
display(full_service)

['AEGEAN Group' 'Aer Lingus Group' 'Air Europa' 'Air France Group'
 'ASL Airlines Belgium' 'Austrian Airlines' 'Bristow Norway'
 'British Airways Group' 'Brussels Airlines' 'DHL Group' 'easyJet Group'
 'EL AL' 'Emirates' 'Eurowings Group' 'Finnair' 'Iberia Group'
 'Iberia Regional-Air Nostrum' 'KLM Group' 'Loganair' 'LOT'
 'Lufthansa Airlines' 'Norwegian Group' 'Pegasus' 'Qatar Airways'
 'Royal Air Maroc' 'Ryanair Group' 'SAS Group' 'SWISS Group' 'TAP Group'
 'TUI Group' 'Turkish Airlines' 'Volotea' 'Vueling' 'Wideroe'
 'Wizz Air Group' 'ITA Airways']

,Entity,Week,Day,Flights,Flights (7-day moving average),Day 2019,Flights Previous Year,% vs 2019 (Daily),% vs 2019 (7-day Moving Average),Diff
732,Air Europa,1,2020-01-01,243,260.142857,2019-01-02,279,-0.129032,-0.019386,12.903226
733,Air Europa,1,2020-01-02,271,259.857143,2019-01-03,270,0.003704,-0.018878,0.370370
734,Air Europa,1,2020-01-03,264,259.000000,2019-01-04,266,-0.007519,-0.020000,0.751880
735,Air Europa,1,2020-01-04,267,259.285714,2019-01-05,251,0.063745,-0.011438,6.374502
736,Air Europa,1,2020-01-05,259,257.428571,2019-01-06,267,-0.029963,-0.015838,2.996255
...,...,...,...,...,...,...,...,...,...,...
7543,Wizz Air Group,16,2023-04-18,815,817.700000,2019-04-16,739,0.388416,0.389995,10.284168
7544,Wizz Air Group,16,2023-04-19,797,813.600000,2019-04-17,705,0.355442,0.380606,13.049645
7545,Wizz Air Group,16,2023-04-20,806,812.300000,2019-04-18,719,0.273302,0.328815,12.100139
7546,Wizz Air Group,16,2023-04-21,789,807.700000,2019-04-19,748,0.225155,0.319795,5.481283
7547,Wizz Air Group,16,2023-04-22,798,806.000000,2019-04-20,733,0.289176,0.312093,8.867667

,Entity,Week,Day,Flights,Flights (7-day moving average),Day 2019,Flights Previous Year,% vs 2019 (Daily),% vs 2019 (7-day Moving Average),Diff
0,AEGEAN Group,1,2020-01-01,227,255.428571,2019-01-02,254,-0.106299,-0.014876,10.629921
1,AEGEAN Group,1,2020-01-02,288,256.000000,2019-01-03,250,0.152000,0.006176,15.200000
2,AEGEAN Group,1,2020-01-03,274,255.285714,2019-01-04,251,0.091633,0.019395,9.163347
3,AEGEAN Group,1,2020-01-04,237,255.714286,2019-01-05,220,0.077273,0.029327,7.727273
4,AEGEAN Group,1,2020-01-05,271,253.857143,2019-01-06,260,0.042308,0.036152,4.230769
...,...,...,...,...,...,...,...,...,...,...
7339,Wideroe,16,2023-04-18,391,348.300000,2019-04-16,414,0.167164,0.073536,5.555556
7340,Wideroe,16,2023-04-19,390,345.900000,2019-04-17,412,0.111111,0.093496,5.339806
7341,Wideroe,16,2023-04-20,397,345.700000,2019-04-18,421,1.078534,0.208791,5.700713
7342,Wideroe,16,2023-04-21,381,342.100000,2019-04-19,418,0.000000,0.502509,8.851675
7343,Wideroe,16,2023-04-22,143,342.400000,2019-04-20,137,1.200000,0.532609,4.379562

To choose hypothesis testing method, he first perfomed a Shapiro-Wilk test to see if the data conforms to normal distribution.

In [21]:
# Import the library
import scipy.stats as stats

# Perform the test
statistic, p_value = stats.shapiro(low_cost['Diff'])
print("Shapiro-Wilk Test:")
print("Test Statistic:", statistic)
print("p-value:", p_value)

statistic, p_value = stats.shapiro(full_service['Diff'])
print("Shapiro-Wilk Test:")
print("Test Statistic:", statistic)
print("p-value:", p_value)

Shapiro-Wilk Test:
Test Statistic: 0.22972840070724487
p-value: 0.0
Shapiro-Wilk Test:
Test Statistic: 0.1649763584136963
p-value: 0.0

F:\anaconda3\lib\site-packages\scipy\stats\_morestats.py:1800: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

Since the p-value is less than 0.05, suggesting the null hypothesis, which assumes that the data is normally distributed, is rejected. In other words, the test provides strong evidence that the data does not follow a normal distribution. Therefore, we have use a non-parametric test. The method we chose was `Mann-Whitney U test`.

We set the confidence level **Î±** to 0.05.

**H<sub>0</sub> (null hypothesis)**: Low-cost airlines have the same rate of change in flights as full-service airlines. <br>
**H<sub>1</sub> (alternative hypothesis)**: Low-cost airlines have a greater rate of change in flights than full-service airlines.

The final step was to conduct the `Mann-Whiteney U test`.

In [22]:
# Covert the two dataframe to wide format
low_cost_wide = low_cost.pivot_table(index='Entity', values='Diff')
full_service_wide = full_service.pivot_table(index='Entity', values='Diff')

# Import the necessary library
import pingouin

# Conduct the testing
pingouin.mwu(x=low_cost_wide, y=full_service_wide, alternative='greater')

     U-val alternative     p-val       RBC      CLES
MWU  214.0     greater  0.004527 -0.556364  0.778182

-----------
# Insight 2: Analysis of CO2 Emissions Data
In this section, we aimed to calculate the average monthly quantity of CO2 emissions for each country in the dataset. <p>

In [23]:
# Create a new dataframe with only necessary columns (in order to avoid the SettingWithCopyWarning, we used the copy method)
co2_insight = co2[['State', 'CO2_QTY_TONNES', 'TF', 'Day']].copy()

# Calculate the average and assign to a new column
co2_insight['Average'] = co2_insight['CO2_QTY_TONNES'] / co2_insight['TF']

# Round the results to two decimal
co2_insight['Average'] = co2_insight['Average'].round(2)

# Format the dates to keep only year and month
co2_insight['Day'] = co2['Day'].dt.strftime('%Y-%m')

# Rename the column
co2_insight = co2_insight.rename(columns={'Day': 'Date'})

# Sort the dataframe by country names and time
co2_insight = co2_insight.sort_values(['State', 'Date'])

# Check the result
display(co2_insight)

# Export
co2_insight.to_csv('Results/Avg_CO2.csv')

               State  CO2_QTY_TONNES     TF     Date  Average
5029         Albania    1.183443e+04   1034  2020-01    11.45
5072         Albania    1.002223e+04    876  2020-02    11.44
5115         Albania    5.048149e+03    461  2020-03    10.95
5158         Albania    5.074260e+02     76  2020-04     6.68
5201         Albania    1.106599e+03    111  2020-05     9.97
...              ...             ...    ...      ...      ...
6535  United Kingdom    2.230368e+06  75211  2022-11    29.65
6578  United Kingdom    2.350692e+06  76688  2022-12    30.65
6621  United Kingdom    2.307159e+06  74769  2023-01    30.86
6664  United Kingdom    2.156078e+06  72494  2023-02    29.74
6707  United Kingdom    2.491118e+06  83848  2023-03    29.71

[1679 rows x 5 columns]

*Here is the end of our notebook. Thank you :)*